
@{
    ViewData["Title"] = "Checkout";
}
<div class="container-fluid">
    <div class="form-group">
        <h3>Congratulations, your products will be ready soon!</h3>
        <h5>Please rate your experience!</h5>
        <select>
            <option>
                5
            </option>
            <option>
                4
            </option>
            <option>
                3
            </option>
            <option>
                2
            </option>
            <option>
                1
            </option>
        </select>
        <br />
        <label>Your feedback (200 characters max)</label>
        <br />
        <textarea style="width: 400px; height:auto;"></textarea>
    </div>
</div>
