@{
    ViewData["Title"] = "Login";
    Layout = null;

}

<head>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
@model MusicalLife.Models.User

<div class="row">
    <div class="col" style="width: 15%">

    </div>
    <div class="col" style="width: 15%">
        <form style="text-align: center;">
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" asp-controller="Users" asp-action="GetUser" asp-route-login=Login asp-route-password=Password />
            </div>
            <div class="form-group">
                <a asp-controller="users" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
    <div class="col" style="width: 15%">

    </div>
</div>

